/* PAGE */
.categories-page {
  min-height: 100vh;
  padding: 40px;
  background: #0b1220;
  color: white;
}

/* TITLE */
.title {
  font-size: 32px;
  margin-bottom: 30px;
}

/* GRID */
.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

/* CARD */
.category-card {
  background: #111a2e;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
  border: 1px solid #1f2a44;
}

.category-card:hover {
  transform: translateY(-6px);
  border-color: #4fd1c5;
}

/* CARD TEXT */
.category-card h3 {
  margin-bottom: 10px;
}

.category-card p {
  font-size: 14px;
  color: #a0aec0;
}

/* BUTTON */
.category-card button {
  margin-top: 15px;
  padding: 8px 12px;
  background: #4fd1c5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* SUGGEST BOX */
.suggest-box {
  margin-top: 50px;
  padding: 25px;
  background: #16213e;
  border-radius: 12px;
  text-align: center;
}

.suggest-box h2 {
  margin-bottom: 10px;
}

.suggest-box p {
  color: #a0aec0;
  margin-bottom: 15px;
}

/* BUTTON */
.suggest-btn {
  padding: 10px 15px;
  background: #4fd1c5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
